a {
	outline: none;
}

a:link, a:visited, a:hover {
	color: #48802c;
}

a:hover, a:active {
	outline: none;
}

body {
	background:  #eee;
	color:       #333;
	font-family: Tahoma, verdana, arial, helvetica, sans-serif;
	font-size:   1em;
	margin:      0 auto;
	overflow-x: hidden;
	   -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;
}

table {
	border-collapse: collapse;
	border-top:      1px solid #DFDFDF;
	margin-bottom:   1em;
	width:           100%;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color:       #666;
	font-weight: bold;
	line-height: 1.7em;
	padding:     0.2em 0.6em;
}

th a {
	display:         block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666;
}

th a:hover, th a:focus {
	color: #333;
}

thead th {
	white-space: nowrap;
}

th:hover, tr:hover {
	background: #E1F2B6;
}

table.display td, th {
	font-size: 10pt;
	height:    50px;
	overflow:  hidden;
	width:     50px;
}

table.display tr {
	height: 50px;
}

.even {
	background: #fff;
}
.odd {
	background: #f7f7f7;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	white-space: normal;
}

.syntaxhighlighter .line {
	white-space: normal;
}
